@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
body{
    background-image:url('https://cdn.pixabay.com/photo/2018/05/13/17/08/notebook-3397135__340.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Zen Kurenaido', sans-serif;
}
div{
    background-color: rgb(207,190,190);
    opacity: 0.8;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
    text-align: center;
    height: 1200px;
}

img{
    
}
h1{
    font-size: 40px;
    color: darkgreen;
}

textarea{
    background-color:  rgb(216,247,210)
}
label{
    font-size: 25px;
    
}
span{
    font-size: 25px;
}